#!/usr/sbin/nft -f

define vxlans = { {% for vni in range(min_vni, max_vni + 1) %} br{{ vni }}, {% endfor %} }

define uplink = {{uplink_if}}

flush ruleset

# NAT for all VNIs

table inet filter {
        chain input {
                type filter hook input priority filter;
        }
        chain forward {
                type filter hook forward priority filter; policy drop;
                ct state established, related accept
                iifname $vxlans ip daddr 10.0.0.0/8 drop
                iifname $vxlans oifname $uplink counter accept
        }
        chain output {
                type filter hook output priority filter;
        }
        chain postrouting {
                type nat hook postrouting priority 100; policy accept;
                iifname $vxlans oifname $uplink masquerade
        }
}
