# This is the network config written by 'subiquity'
network:
  ethernets:
    # You have to adapt this section to match your network setup.
    {{uplink_if}}:
      dhcp4: true
  {% if wimove_if != uplink_if %}
  {{wimove_if}}:
      dhcp4: true
  {% endif %}
tunnels:
  {% for vni in range(min_vni, max_vni + 1) %}
  vxlan{{ vni }}:
      mode: vxlan
      id: {{vni}}
      local: {{ ip }}
      ttl: 10
      mac-learning: false
      port: 4789

  {% endfor %}

  bridges:
  {% for vni in range(min_vni, max_vni + 1) %}
  br{{vni}}:
      interfaces:
        - vxlan{{vni}}
      parameters:
        stp: false
      addresses:
        - 10.{{(vni / 255)|int + 1}}.{{vni % 255 +1}}.1/24
  {% endfor %}
